.main-header{
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #07162d;
}
.navbar-brand{
    color: #fff;
}
.navbar-brand .top-logo{
    max-width: 140px;
}
.main-header .navbar-nav .nav-link{
    color: #92a6bb;
}
